.page {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f8f9fa;
}

main {
    flex: 1;
    padding: 20px;
}

.dialogue-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.inventory {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.event-dialog {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .event-dialog h2 {
        margin-top: 0;
    }

    .event-dialog button {
        margin-right: 10px;
    }