body {
    background-color: #1B263B;
    color: #FFFFFF;
}

.new-game-container {
    background-color: #ECEFF4;
    color: #1B263B;
    padding: 20px;
    border-radius: 10px;
}

    .new-game-container label {
        color: #333333;
    }

    .new-game-container input, .new-game-container select {
        border: 1px solid #CCC;
        border-radius: 5px;
        padding: 10px;
    }

    .new-game-container button {
        background-color: #4CAF50;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .new-game-container button:hover {
            background-color: #45A049;
        }

.event-dialog {
    background-color: #ECEFF4;
    color: #1B263B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .event-dialog h2 {
        color: #F5C518;
    }

    .event-dialog button {
        background-color: #F5C518;
        color: #1B263B;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .event-dialog button:hover {
            background-color: #E6AC00;
        }

.dialogue-text {
    color: #1B263B;
}

.attribute-label {
    color: #333333;
}

.attribute-value {
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
}

.character-name, .attribute-label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.menu-items button {
    font-family: 'Cinzel', serif;
    padding: 10px 20px;
    font-size: 18px;
}

.dialogue-text {
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

.attribute-value {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


.page {
    display: flex;
}

main {
    flex: 1;
    padding: 20px;
}

.dialogue-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;    
}