@inherits LayoutComponentBase

<PageTitle>Blazor App</PageTitle>

<div class="page">    
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}